Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

codecov.yml:

coverage:
  precision: 2
  round: down
  range: '80...100'
  status:
    project:
      default:
        target: auto
      table-plugin:
        target: auto
        flags:
          - table-plugin
      iframe-plugin:
        target: auto
        flags:
          - iframe-plugin
      heuristic-table-plugin:
        target: auto
        flags:
          - heuristic-table-plugin
      plugins-core:
        target: auto
        flags:
          - plugins-core

flags:
  table-plugin:
    paths:
      - packages/table-plugin/
  heuristic-table-plugin:
    paths:
      - packages/heuristic-table-plugin/
  iframe-plugin:
    paths:
      - packages/iframe-plugin/
  plugins-core:
    paths:
      - packages/plugins-core/

chore: add screens support in demo
  example/HeuristicTableExample.js
  example/index.js
Due: none

chore: release @native-html/heuristic-table-plugin@0.2.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

chore: sync yarn.lock
  yarn.lock
Due: none

chore: fix styling issue
  package.json
  packages/heuristic-table-plugin/src/TableRenderer.ts
  packages/heuristic-table-plugin/src/TdRenderer.tsx
  packages/heuristic-table-plugin/src/ThRenderer.ts
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
Due: table-plugin, heuristic-table-plugin

style: fix eslint rule
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
Due: table-plugin

feat: advanced layout algorithm
  example/HeuristicTableExample.js
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.cellproperties.constraints.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.cellproperties.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.cellproperties.weight.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.forcestretch.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltable.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.contentwidth.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.layout.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.root.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tableflexcolumncontainer.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.usehtmltableprops.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/createRenderTree.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/fillTableDisplay.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/getColumnWeights.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/makeRows.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/reduceColumnConstraints.test.ts
  packages/heuristic-table-plugin/src/helpers/computeColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/computeTNodeWeight.ts
  packages/heuristic-table-plugin/src/helpers/fillTableDisplay.ts
  packages/heuristic-table-plugin/src/helpers/getColumnWeights.ts
  packages/heuristic-table-plugin/src/helpers/measure.ts
  packages/heuristic-table-plugin/src/helpers/reduceColumnConstraints.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
  packages/heuristic-table-plugin/test.html
Due: heuristic-table-plugin

chore(demo): add wide table example
  example/HeuristicTableExample.js
Due: none

feat: pass markers from table root to cells
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
Due: heuristic-table-plugin

chore: remove "alpha" mention in demo
  example/App.js
Due: none

chore: release @native-html/heuristic-table-plugin@0.3.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

fix(heuristic-table): ignoring `overrideContentWidth` option
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

chore: release @native-html/heuristic-table-plugin@0.3.1
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

fix(heuristic-table): display glich with multiple rowspan in the same column
  example/HeuristicTableExample.js
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.settings.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/src/helpers/__tests__/createRenderTree.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/fillTableDisplay.test.ts
  packages/heuristic-table-plugin/src/helpers/fillTableDisplay.ts
Due: heuristic-table-plugin

chore(example): style
  example/HeuristicTableExample.js
Due: none

chore: release @native-html/heuristic-table-plugin@0.3.2
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

fix: restrict compatible versions of react-native-render-html
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin

chore: release @native-html/table-plugin@5.0.2
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.2.1
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/heuristic-table-plugin@0.3.3
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

fix: restrict to react-native-render-html < 6.0.0-alpha.23
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/table-plugin/package.json
Due: table-plugin, heuristic-table-plugin, iframe-plugin

chore: release @native-html/table-plugin@5.0.3
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.2.2
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/heuristic-table-plugin@0.3.4
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

feat(heuristic-table): support react-native-render-html@6.0.0-alpha.23
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

feat(plugin-core): support react-native-render-html@6.0.0-alpha.23
  packages/plugins-core/etc/plugins-core.api.md
  packages/plugins-core/package.json
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
Due: plugins-core

feat(table): support react-native-render-html@6.0.0-alpha.23
  packages/table-plugin/package.json
  packages/table-plugin/src/types.ts
  packages/table-plugin/src/useHtmlTableProps.ts
Due: table-plugin

feat(iframe-plugin): support react-native-render-html@6.0.0-alpha.23
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

build: upgrade to react-native-render-html@6.0.0-alpha.23
  example/package.json
  yarn.lock
Due: none

chore: release @native-html/plugins-core@1.1.0
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: plugins-core

chore: release @native-html/table-plugin@5.1.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

docs(table): add generated docs
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.htmlattribs.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.onlinkpress.md
  packages/table-plugin/etc/table-plugin.api.md
Due: table-plugin

docs(iframe): add generated docs
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.htmlattribs.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.onlinkpress.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
Due: iframe-plugin

chore: release @native-html/heuristic-table-plugin@0.4.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

chore: release @native-html/iframe-plugin@2.3.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore(example): migrate code to new API
  example/CustomExample.js
  example/HeuristicTableExample.js
  example/SimpleExample.js
  example/YoutubeExample.js
Due: none

feat: support react-native-render-html@6.0.0-alpha.25; beware of upstream BREAKING CHANGES
  example/YoutubeExample.js
  example/package.json
  package.json
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tablemodel.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tdmodel.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.thmodel.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableRenderer.ts
  packages/heuristic-table-plugin/src/TdRenderer.tsx
  packages/heuristic-table-plugin/src/ThRenderer.ts
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/index.ts
  packages/heuristic-table-plugin/src/models/index.ts
  packages/heuristic-table-plugin/src/models/tableModel.ts
  packages/heuristic-table-plugin/src/models/tdModel.ts
  packages/heuristic-table-plugin/src/models/thModel.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
  packages/iframe-plugin/README.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/IframeRenderer.ts
  packages/iframe-plugin/src/useHtmlIframeProps.ts
  packages/plugins-core/package.json
  packages/table-plugin/README.md
  packages/table-plugin/package.json
  packages/table-plugin/src/TableRenderer.ts
  packages/table-plugin/src/__tests__/extractHtmlAndStatsFromTableDomNode.test.ts
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
  packages/table-plugin/src/useHtmlTableProps.ts
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

fix(iframe): did not pick config passed in rendererProps
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

chore: sync lock file
  yarn.lock
Due: none

chore: release @native-html/plugins-core@1.2.0
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: plugins-core
