Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, iframe-plugin

codecov.yml:

coverage:
  precision: 2
  round: down
  range: '80...100'
  status:
    project:
      default:
        target: auto
      table-plugin:
        target: auto
        flags:
          - table-plugin
      iframe-plugin:
        target: auto
        flags:
          - iframe-plugin

flags:
  table-plugin:
    paths:
      - packages/table-plugin/
  iframe-plugin:
    paths:
      - packages/iframe-plugin/

chore: release @native-html/iframe-plugin@1.1.2
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: fix tag which was semver compliant
  packages/iframe-plugin/README.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/package.json
  packages/table-plugin/README.md
  packages/table-plugin/package.json
Due: table-plugin, iframe-plugin

chore: release @native-html/table-plugin@3.1.1
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: sync generated docs
  packages/table-plugin/docs/table-plugin.htmltable.md
  packages/table-plugin/etc/table-plugin.api.md
Due: table-plugin

chore: release @native-html/table-plugin@4.0.2
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

fix(build): fix release-it using npm publish instead of yarn npm publish
  package.json
  patches/release-it.patch
  yarn.lock
Due: none

chore: release @native-html/table-plugin@4.0.3
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.0.2
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

docs: update README to match rnrh@5.x
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

docs: update README
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

feat(table-plugin): automatically handle relative URLs
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.sourcebaseurl.md
  packages/table-plugin/docs/table-plugin.tableconfig.md
  packages/table-plugin/docs/table-plugin.tableconfig.sourcebaseurl.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/package.json
  packages/table-plugin/src/types.ts
  packages/table-plugin/src/useHtmlTableProps.ts
Due: table-plugin

feat(iframe-plugin): support relative `src` URLs
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

feat(iframe-plugin): handle baseUrl for inline iframe source
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

chore: upgrade to react-native-render-html@6.0.0-alpha.13
  example/package.json
  packages/plugins-core/package.json
  yarn.lock
Due: none

docs: reference table-plugin@5.x
  README.md
  packages/table-plugin/README.md
Due: table-plugin

chore: release @native-html/table-plugin@5.0.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.1.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

docs: add links to our Discord "plugin" channel
  README.md
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

docs: add a help banner linking to our Discord "plugins" channel
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: add repository.directory in package.json files
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
Due: table-plugin, iframe-plugin

build(deps): upgrade react-native-render-html@6.0.0-alpha.17
  example/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

fix: replace outdated type import `RenderHTMLPassedProps`
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/plugins-core/etc/plugins-core.api.md
  packages/plugins-core/package.json
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.onlinkpress.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/package.json
  packages/table-plugin/src/types.ts
  yarn.lock
Due: table-plugin, iframe-plugin

chore: release @native-html/plugins-core@1.0.1
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: none

chore: release @native-html/table-plugin@5.0.1
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.1.1
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

build(deps): bump react-native-render-html@6.0.0-alpha.18
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
Due: table-plugin, iframe-plugin

chore(heuristic-table): add release-it config file
  packages/heuristic-table-plugin/.release-it.js
Due: none

chore: release @native-html/heuristic-table-plugin@0.1.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: none

docs: add heuristic-table-plugin in root README
  README.md
Due: none

docs: fix links to workflows
  README.md
  packages/heuristic-table-plugin/README.md
Due: none

fix: force responsive layout when scalesPageToFit = false (1:1)
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

feat(iframe): new `removeBodySpacing` and `injectedCSSStyles` options
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

docs(iframe): enhance documentation
  packages/iframe-plugin/README.md
Due: iframe-plugin

docs(iframe): generate documentation for this plugin on builds
  packages/iframe-plugin/README.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframe.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.htmlattribs.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.onlinkpress.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.scalefactor.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.source.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.style.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.webview.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.webviewprops.md
  packages/iframe-plugin/docs/iframe-plugin.iframeconfig.injectedcssstyles.md
  packages/iframe-plugin/docs/iframe-plugin.iframeconfig.md
  packages/iframe-plugin/docs/iframe-plugin.iframeconfig.removebodyspacing.md
  packages/iframe-plugin/docs/iframe-plugin.iframeconfig.scalespagetofit.md
  packages/iframe-plugin/docs/iframe-plugin.iframeconfig.webviewprops.md
  packages/iframe-plugin/docs/iframe-plugin.iframemodel.md
  packages/iframe-plugin/docs/iframe-plugin.iframerenderer.md
  packages/iframe-plugin/docs/iframe-plugin.md
  packages/iframe-plugin/docs/iframe-plugin.usehtmliframeprops.md
  packages/iframe-plugin/docs/index.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/iframe-plugin@2.2.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

build(deps): upgrade @formidable-webview/webshell to v2.4.0
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

refactor(iframe): import `InjectStyleFeature` from latest webshell
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

build(deps): bump and require react-native-render-html@6.0.0-alpha.20
  example/package.json
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin
