Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, iframe-plugin

feat(iframe-plugin): support react-native-render-html 6.x
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/README.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/IframeRenderer.ts
  packages/iframe-plugin/src/extractPrintDimensions.ts
  packages/iframe-plugin/src/iframe.ts
  packages/iframe-plugin/src/index.ts
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

chore: migrate to react-native-render-html@6.x
  README.md
  example/App.js
  example/CustomExample.js
  example/SimpleExample.js
  example/YoutubeExample.js
  example/package.json
  images/scalesPageToFit.jpg
  images/scalesPageToFit.png
  tsconfig-base.json
  yarn.lock
Due: none

chore: release @native-html/table-plugin@4.0.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

test: fix tests
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
  packages/table-plugin/docs/table-plugin.md
  packages/table-plugin/docs/table-plugin.tablemodel.md
  packages/table-plugin/docs/table-plugin.usehtmltableprops.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  packages/table-plugin/src/__tests__/extractHtmlAndStatsFromTableDomNode.test.ts
  packages/table-plugin/src/__tests__/integration.test.tsx
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
Due: table-plugin, iframe-plugin

chore: release @native-html/iframe-plugin@2.0.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

docs(iframe-plugin): update generated docs
  packages/iframe-plugin/etc/iframe-plugin.api.md
Due: iframe-plugin

style: fix style rule
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
Due: table-plugin

docs: fix links to Github workflow
  README.md
Due: none

docs(iframe-plugin): correct phrasing
  packages/iframe-plugin/README.md
Due: iframe-plugin

chore: enhance issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: configure CI for the new plugins-core package
  .github/workflows/core.yml
  .github/workflows/table.yml
  codecov.yml
  package.json
  yarn.lock
Due: none

feat(plugins-core): new linkPressTargetToOnDOMLinkPressArgs utility
  packages/plugins-core/.eslintrc.js
  packages/plugins-core/.gitignore
  packages/plugins-core/.release-it.js
  packages/plugins-core/api-extractor.json
  packages/plugins-core/babel.config.js
  packages/plugins-core/etc/plugins-core.api.md
  packages/plugins-core/package.json
  packages/plugins-core/src/__tests__/linkPressTargetToOnDOMLinkPressArgs.test.ts
  packages/plugins-core/src/index.ts
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
  packages/plugins-core/tsconfig.build.json
  packages/plugins-core/tsconfig.json
Due: none

fix(table-plugin): default htmlAttribs would cause infinite re-renders
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/types.ts
Due: table-plugin

fix(table-plugin): pass anchor attributes and target to `onLinkPress`
  packages/table-plugin/src/HTMLTable.tsx
Due: table-plugin

fix(table-plugin): upgrade webshell to v2.3.0 fixing potential infinite re-renders
  packages/table-plugin/package.json
Due: table-plugin

test(table-plugin): fix HTMLTable tests
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  packages/table-plugin/src/__tests__/integration.test.tsx
Due: table-plugin

fix(iframe-plugin): upgrade webshell to v2.3.0 fixing potential infinite re-renders
  packages/iframe-plugin/package.json
Due: iframe-plugin

fix(iframe-plugin): pass anchor attributes and target to `onLinkPress`
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

docs(iframe-plugin): sync api.md file
  packages/iframe-plugin/etc/iframe-plugin.api.md
Due: iframe-plugin

chore: sync yarn.lock file
  yarn.lock
Due: none

style(table-plugin): remove unused import
  packages/table-plugin/src/HTMLTable.tsx
Due: table-plugin

ci: rename core workflow to "core"
  .github/workflows/core.yml
Due: none

chore(example): compatibility with new package extraction
  example/App.js
  example/metro.config.js
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

chore: upgrade example to expo@40 and align devDependencies
  example/CustomExample.js
  example/SimpleExample.js
  example/YoutubeExample.js
  example/package.json
  package.json
  packages/iframe-plugin/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

build(deps): upgrade @babel/* dependencies
  example/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

build(deps): upgrade @miscrosoft/api-* dependencies
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

build(deps): migrate from @react-native-community/bob to react-native-builder-bob
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

build(example): upgrade @react-navigation/* deps
  example/package.json
  yarn.lock
Due: none

build(deps): upgrade jest* deps
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin

build(deps): upgrade typescript to 4.1.3
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, iframe-plugin

ci(deps): upgrade release-it to v14.3.0
  package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  patches/release-it.patch
  yarn.lock
Due: table-plugin, iframe-plugin

chore: release @native-html/plugins-core@1.0.0
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: none

chore: release @native-html/iframe-plugin@2.0.1
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/table-plugin@4.0.1
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

fix(iframe-plugin): replace `htmlAttribs` in `onLinkPress` with empty object
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

fix(table-plugin): replace `htmlAttribs` in `onLinkPress` with empty object
  packages/table-plugin/src/HTMLTable.tsx
Due: table-plugin

fix(iframe-plugin): upgrade webshell to v2.3.0 fixing potential infinte re-renders
  packages/iframe-plugin/package.json
Due: iframe-plugin

fix(table-plugin): upgrade webshell to v2.3.0 fixing potential infinte re-renders
  packages/table-plugin/package.json
Due: table-plugin

chore: sync yarn.lock
  yarn.lock
Due: none

chore: set tag to help with release process
  packages/iframe-plugin/README.md
  packages/iframe-plugin/package.json
  packages/table-plugin/README.md
  packages/table-plugin/package.json
Due: table-plugin, iframe-plugin

Path conditions:
  table-plugin: any of: packages/table-plugin/
  iframe-plugin: any of: packages/iframe-plugin/
