Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

feat: support react-native-render-html@6.0.0-alpha.25; beware of upstream breaking changes
  example/YoutubeExample.js
  example/package.json
  package.json
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tablemodel.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tdmodel.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.thmodel.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableRenderer.ts
  packages/heuristic-table-plugin/src/TdRenderer.tsx
  packages/heuristic-table-plugin/src/ThRenderer.ts
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/index.ts
  packages/heuristic-table-plugin/src/models/index.ts
  packages/heuristic-table-plugin/src/models/tableModel.ts
  packages/heuristic-table-plugin/src/models/tdModel.ts
  packages/heuristic-table-plugin/src/models/thModel.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
  packages/iframe-plugin/README.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/IframeRenderer.ts
  packages/iframe-plugin/src/useHtmlIframeProps.ts
  packages/plugins-core/package.json
  packages/table-plugin/README.md
  packages/table-plugin/package.json
  packages/table-plugin/src/TableRenderer.ts
  packages/table-plugin/src/__tests__/extractHtmlAndStatsFromTableDomNode.test.ts
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
  packages/table-plugin/src/useHtmlTableProps.ts
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

fix(iframe): did not pick config passed in rendererProps
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

chore: sync lock file
  yarn.lock
Due: none

chore: release @native-html/plugins-core@1.2.0
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: plugins-core

chore: fix CHANGELOG
  packages/plugins-core/CHANGELOG.md
Due: plugins-core

chore: release @native-html/table-plugin@5.2.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.4.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/heuristic-table-plugin@0.5.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

chore: upgrade react-native-render-html to v6.0.0-beta.0
  example/package.json
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

feat(core): support react-native-render-html@6.0.0-beta.0
  packages/plugins-core/etc/plugins-core.api.md
  packages/plugins-core/package.json
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
Due: plugins-core

feat(table): support react-native-render-html@6.0.0-beta.0
  packages/table-plugin/package.json
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
  packages/table-plugin/src/index.ts
  packages/table-plugin/src/types.ts
  packages/table-plugin/src/useHtmlTableProps.ts
Due: table-plugin

feat(heuristic-table): support react-native-render-html@6.0.0-beta.0
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/TdRenderer.tsx
  packages/heuristic-table-plugin/src/ThRenderer.ts
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
  packages/heuristic-table-plugin/src/index.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

chore: sync documentation
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.htmltableprops.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.tdrenderer.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.threnderer.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.usehtmltablecellprops.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.usehtmltableprops.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.onlinkpress.md
  packages/table-plugin/docs/table-plugin.usehtmltableprops.md
  packages/table-plugin/etc/table-plugin.api.md
Due: table-plugin, heuristic-table-plugin

feat(iframe): support react-native-render-html@6.0.0-beta.0
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframeprops.onlinkpress.md
  packages/iframe-plugin/docs/iframe-plugin.usehtmliframeprops.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/index.ts
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

chore: sync yarn.lock
  yarn.lock
Due: none

chore: release @native-html/plugins-core@1.3.0
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
Due: plugins-core

chore: release @native-html/table-plugin@5.3.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/heuristic-table-plugin@0.6.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

chore: release @native-html/iframe-plugin@2.5.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: use master branch links for v6
  README.md
Due: none

chore: update docs typo
  packages/iframe-plugin/README.md
Due: iframe-plugin

docs: fix typo (#35)
  packages/iframe-plugin/README.md
Due: iframe-plugin

test(heuristic-table): add empty table scenario
  packages/heuristic-table-plugin/src/helpers/__tests__/createRenderTree.test.ts
Due: heuristic-table-plugin

#38 Keep webview headers for iframe
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
Due: iframe-plugin

#38 Keep webview headers for iframe
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

build(deps): upgrade react-native-render-html to latest
  example/package.json
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

chore: upgrade to yarn berry 3.0.2
  .yarn/releases/yarn-2.3.3.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  yarn.lock
Due: none

chore: fix yarn interactive-tools
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
Due: none

feat(heuristic-table): support rnrh@6.1.0 `renderIndex` and `renderLength` props
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
Due: heuristic-table-plugin

build(deps): upgrade dev dependencies
  example/package.json
  package.json
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/useHtmlIframeProps.ts
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  packages/table-plugin/src/useHtmlTableProps.ts
  tsconfig-base.json
  yarn.lock
Due: table-plugin, iframe-plugin, plugins-core

style: apply new prettier rules
  .eslintrc.js
  package.json
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/makeRows.test.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
  packages/iframe-plugin/src/IframeRenderer.ts
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
  packages/iframe-plugin/src/useHtmlIframeProps.ts
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/TableRenderer.ts
  packages/table-plugin/src/useHtmlTableProps.ts
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin

chore(example): disambiguation of iframe description
  example/App.js
Due: none

feat(iframe-plugin): support headers via `provideEmbeddedHeaders` prop
  example/CustomExample.js
  packages/iframe-plugin/README.md
  packages/iframe-plugin/docs/iframe-plugin.htmliframe.md
  packages/iframe-plugin/docs/iframe-plugin.md
  packages/iframe-plugin/docs/iframe-plugin.usehtmliframeprops.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
  packages/iframe-plugin/src/index.ts
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

fix: remove null from useHtmlTableProps return signature (dead condition)
  packages/table-plugin/docs/table-plugin.md
  packages/table-plugin/docs/table-plugin.usehtmltableprops.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/src/useHtmlTableProps.ts
Due: table-plugin

fix: remove null from useHtmlIframeProps return signature (dead condition)
  packages/iframe-plugin/docs/iframe-plugin.usehtmliframeprops.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/src/useHtmlIframeProps.ts
Due: iframe-plugin

test(iframe-plugin): implement tests for `provideEmbeddedHeaders`
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
Due: iframe-plugin

refactor: remove unnecessary conditional logic
  packages/iframe-plugin/src/IframeRenderer.ts
  packages/table-plugin/src/TableRenderer.ts
Due: table-plugin, iframe-plugin

fix(iframe-plugin): the iframe is painted as a blank view
  packages/iframe-plugin/src/HTMLIframe.tsx
Due: iframe-plugin

test(iframe-plugin): fix failing test caused by ersatz
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
Due: iframe-plugin

chore: release @native-html/heuristic-table-plugin@0.7.0
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
Due: heuristic-table-plugin

Path conditions:
  table-plugin: any of: packages/table-plugin/
  heuristic-table-plugin: any of: packages/heuristic-table-plugin/
  iframe-plugin: any of: packages/iframe-plugin/
  plugins-core: any of: packages/plugins-core/
