Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

chore: release @native-html/table-plugin@5.3.1
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: release @native-html/iframe-plugin@2.6.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: update markdown files
  packages/iframe-plugin/docs/iframe-plugin.htmliframe.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
Due: iframe-plugin

chore: upgrade to Expo SDK 43
  example/package.json
  package.json
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

chore: fix jest config after UP react-native@0.64.2
  packages/heuristic-table-plugin/jest.config.js
  packages/iframe-plugin/jest.config.js
  packages/table-plugin/jest.config.js
Due: table-plugin, heuristic-table-plugin, iframe-plugin

docs(iframe): fix link
  packages/iframe-plugin/README.md
Due: iframe-plugin

chore: release @native-html/iframe-plugin@2.6.1
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

feat: adds dataAttributes to linkPressTargetToOnDOMLinkPressArgs in plugins-core
  packages/plugins-core/src/__tests__/linkPressTargetToOnDOMLinkPressArgs.test.ts
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
Due: plugins-core

feat: adds dataAttributes to linkPressTargetToOnDOMLinkPressArgs in plugins-core (#45)
  packages/plugins-core/src/__tests__/linkPressTargetToOnDOMLinkPressArgs.test.ts
  packages/plugins-core/src/linkPressTargetToOnDOMLinkPressArgs.ts
Due: plugins-core

fix: adjust node version in workflows
  .github/workflows/core.yml
  .github/workflows/heuristic-table.yml
  .github/workflows/iframe.yml
  .github/workflows/table.yml
Due: none

fix: bring back workspace access for @native-html/plugins-core
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin

fix: remove @formidable-webview/ersatz
  packages/iframe-plugin/jest.config.js
  packages/iframe-plugin/package.json
  packages/table-plugin/package.json
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  yarn.lock
Due: table-plugin, iframe-plugin

feat: add lerna publish
  .gitignore
  lerna.json
  package.json
  yarn.lock
Due: none

feat: add releasing CI
  .github/workflows/release.yml
Due: none

fix: stop CI failing on codevoc error
  .github/workflows/core.yml
  .github/workflows/heuristic-table.yml
  .github/workflows/iframe.yml
  .github/workflows/table.yml
Due: none

fix: remove WebView tests
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
Due: iframe-plugin

fix: adjust tests after version bump
  .github/workflows/core.yml
  .github/workflows/heuristic-table.yml
  .github/workflows/iframe.yml
  .github/workflows/table.yml
  eslint.config.js
  jest/__mocks__/node-fetch.js
  package.json
  packages/heuristic-table-plugin/package.json
  packages/heuristic-table-plugin/src/helpers/__tests__/tsconfig.json
  packages/iframe-plugin/jest.config.js
  packages/iframe-plugin/jest/__mocks__/node-fetch.js
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/__tests__/IframeRenderer.test.tsx
  packages/iframe-plugin/src/__tests__/tsconfig.json
  packages/iframe-plugin/tsconfig.json
  packages/plugins-core/package.json
  packages/plugins-core/src/__tests__/tsconfig.json
  packages/table-plugin/jest.config.js
  packages/table-plugin/package.json
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  packages/table-plugin/src/__tests__/tsconfig.json
  tsconfig-base.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

feat: upgrade @native-html/render to a stable version
  example/package.json
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/package.json
  packages/plugins-core/package.json
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

chore: publish
  packages/heuristic-table-plugin/CHANGELOG.md
  packages/heuristic-table-plugin/package.json
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
  packages/plugins-core/CHANGELOG.md
  packages/plugins-core/package.json
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin, heuristic-table-plugin, iframe-plugin, plugins-core

fix: remove unnecessary console.log
  packages/table-plugin/src/HTMLTable.tsx
Due: table-plugin

chore: publish
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

fix: adjust layout-calculating heuristics
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TableLayout.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/computeColumnWidths.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/fillTableDisplay.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/reduceColumnConstraints.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/relaxHeightConstraint.test.ts
  packages/heuristic-table-plugin/src/helpers/computeColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/fillTableDisplay.ts
  packages/heuristic-table-plugin/src/helpers/reduceColumnConstraints.ts
  packages/heuristic-table-plugin/src/helpers/relaxHeightConstraint.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
Due: heuristic-table-plugin

fix(heuristic-table-plugin): add colgrups and redistribute widths
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.colgroupmodel.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/src/ColgroupModel.ts
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TableLayout.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/utils.ts
  packages/heuristic-table-plugin/src/helpers/computeColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/extractColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/resolveWidth.ts
  packages/heuristic-table-plugin/src/index.ts
Due: heuristic-table-plugin

feat(heuristic-table-plugin): make heuristic table respect external paddings
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TableLayout.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/resolveAvailableWidth.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/utils.ts
  packages/heuristic-table-plugin/src/helpers/measure.ts
  packages/heuristic-table-plugin/src/helpers/resolveAvailableWidth.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

feat(heuristic-table-plugin): enable configuring font coeffs for tables
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.default_font_weight_coeffs.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.fontweightcoefficients.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.basefontcoeff.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.fontweightcoeffs.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.forcestretch.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TableLayout.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/resolveAvailableWidth.test.ts
  packages/heuristic-table-plugin/src/helpers/computeColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/extractColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/resolveAvailableWidth.ts
  packages/heuristic-table-plugin/src/helpers/resolveWidth.ts
  packages/heuristic-table-plugin/src/index.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
  packages/table-plugin/src/HTMLTable.tsx
Due: table-plugin, heuristic-table-plugin

feat(heuristic-table-plugin): implement border collapsing and stick to default styles defined
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/createRenderTree.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/fillTableDisplay.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/tableStyles.test.ts
  packages/heuristic-table-plugin/src/helpers/createRenderTree.ts
  packages/heuristic-table-plugin/src/helpers/fillTableDisplay.ts
  packages/heuristic-table-plugin/src/helpers/tableStyles.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

feat(heuristic-table-plugin): add default padding
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/resolveAvailableWidth.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/tableStyles.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/useHtmlTableCellProps.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/utils.ts
  packages/heuristic-table-plugin/src/helpers/measure.ts
  packages/heuristic-table-plugin/src/helpers/resolveAvailableWidth.ts
  packages/heuristic-table-plugin/src/helpers/tableStyles.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
Due: heuristic-table-plugin

feat(heuristic-table-plugin): resolve cell styles once and lay out against them
  packages/heuristic-table-plugin/README.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.bordercollapse.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.getstyleforcell.md
  packages/heuristic-table-plugin/docs/heuristic-table-plugin.heuristictablepluginconfig.md
  packages/heuristic-table-plugin/etc/heuristic-table-plugin.api.md
  packages/heuristic-table-plugin/src/HTMLTable.tsx
  packages/heuristic-table-plugin/src/TableLayout.ts
  packages/heuristic-table-plugin/src/TreeRenderer.tsx
  packages/heuristic-table-plugin/src/helpers/TCellConstraintsComputer.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/HTMLTable.test.tsx
  packages/heuristic-table-plugin/src/helpers/__tests__/TCellConstraintsComputer.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/TableLayout.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/computeColumnWidths.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/layoutStyles.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/reduceColumnConstraints.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/relaxHeightConstraint.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/tableRendering.test.tsx
  packages/heuristic-table-plugin/src/helpers/__tests__/tableStyles.test.ts
  packages/heuristic-table-plugin/src/helpers/__tests__/useHtmlTableCellProps.test.ts
  packages/heuristic-table-plugin/src/helpers/computeColumnWidths.ts
  packages/heuristic-table-plugin/src/helpers/measure.ts
  packages/heuristic-table-plugin/src/helpers/resolveTableStyles.ts
  packages/heuristic-table-plugin/src/helpers/resolveWidth.ts
  packages/heuristic-table-plugin/src/helpers/tableStyles.ts
  packages/heuristic-table-plugin/src/shared-types.ts
  packages/heuristic-table-plugin/src/useHtmlTableCellProps.ts
  packages/heuristic-table-plugin/src/useHtmlTableProps.ts
Due: heuristic-table-plugin

Path conditions:
  table-plugin: any of: packages/table-plugin/
  heuristic-table-plugin: any of: packages/heuristic-table-plugin/
  iframe-plugin: any of: packages/iframe-plugin/
  plugins-core: any of: packages/plugins-core/
