Repository native-html/plugins: changes, and which Codecov flags are due for each by the changed paths.
All: table-plugin, iframe-plugin

codecov.yml:

coverage:
  precision: 2
  round: down
  range: '80...100'
  status:
    project:
      default:
        target: auto
      table-plugin:
        target: auto
        flags:
          - table-plugin
      iframe-plugin:
        target: auto
        flags:
          - iframe-plugin

flags:
  table-plugin:
    paths:
      - packages/table-plugin/
  iframe-plugin:
    paths:
      - packages/iframe-plugin/

feat(table-plugin): new lightweight API for react-native-render-html v5.0
  example/App.js
  example/ClickTable.js
  example/CustomExample.js
  example/SimpleExample.js
  example/package.json
  package.json
  packages/iframe-plugin/package.json
  packages/table-plugin/README.md
  packages/table-plugin/docs/table-plugin.alternode.md
  packages/table-plugin/docs/table-plugin.extracthtmltableprops.md
  packages/table-plugin/docs/table-plugin.htmltable.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.htmlattribs.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.onlinkpress.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.renderersprops.md
  packages/table-plugin/docs/table-plugin.makecustomtablerenderer.md
  packages/table-plugin/docs/table-plugin.maketablerenderer.md
  packages/table-plugin/docs/table-plugin.md
  packages/table-plugin/docs/table-plugin.table.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/package.json
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  packages/table-plugin/src/__tests__/extractHtmlAndStatsFromTableDomNode.test.ts
  packages/table-plugin/src/__tests__/integration.test.tsx
  packages/table-plugin/src/alter-node.ts
  packages/table-plugin/src/css-rules.ts
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
  packages/table-plugin/src/extractHtmlTableProps.ts
  packages/table-plugin/src/index.ts
  packages/table-plugin/src/make-table-renderer.tsx
  packages/table-plugin/src/table.ts
  packages/table-plugin/src/tags.ts
  packages/table-plugin/src/types.ts
  yarn.lock
Due: table-plugin, iframe-plugin

docs: document versions
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

feat(table-plugin): new displayMode prop and compliance with RFC001
  packages/table-plugin/docs/table-plugin.htmltable.md
  packages/table-plugin/docs/table-plugin.tableconfig.displaymode.md
  packages/table-plugin/docs/table-plugin.tableconfig.md
  packages/table-plugin/docs/table-plugin.tableconfig.webviewprops.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/package.json
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/__tests__/HTMLTable.test.tsx
  packages/table-plugin/src/css-rules.ts
  packages/table-plugin/src/extractHtmlTableProps.ts
  packages/table-plugin/src/types.ts
Due: table-plugin

chore: add iframe to example
  example/App.js
  example/CustomExample.js
  example/SimpleExample.js
  example/YoutubeExample.js
  example/metro.config.js
  yarn.lock
Due: none

feat(iframe-plugin): new autoscale config
  packages/iframe-plugin/README.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/package.json
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
  packages/iframe-plugin/src/iframe.ts
  packages/iframe-plugin/src/index.ts
Due: iframe-plugin

chore: release 3.0.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

build(deps): rework npm version peer range for react-native-render-html
  packages/table-plugin/package.json
Due: table-plugin

docs: bump new CHANGELOG
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/README.md
Due: table-plugin

chore: sync yarn.lock
  yarn.lock
Due: none

build(deps): remove unecessary stringify-entities dep
  packages/table-plugin/package.json
  yarn.lock
Due: table-plugin

chore: remove release-it config from package.json
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/table-plugin@3.0.1
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

chore: bump CHANGELOG
  packages/table-plugin/CHANGELOG.md
Due: table-plugin

docs: enhance compat table visibility
  README.md
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

docs: fix typo
  README.md
Due: none

build(deps): enhance version range for react-native-render-html
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: release @native-html/iframe-plugin@1.0.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

docs: add autoscale examples
  images/autoscale.png
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/README.md
Due: iframe-plugin

chore: fix example crash
  example/App.js
  example/ClickTable.js
  example/CustomExample.js
  example/SimpleExample.js
  example/package.json
  yarn.lock
Due: none

chore(example): work around react-native-screen + webview bug
  example/App.js
  example/ClickTable.js
  example/CustomExample.js
  example/SimpleExample.js
  example/app.config.js
Due: none

docs: upgrade expo project reference in READMEs
  images/expo-example.png
  packages/iframe-plugin/README.md
  packages/table-plugin/README.md
Due: table-plugin, iframe-plugin

feat(iframe-plugin): allow to override config in extractHtmlIframeProps
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/README.md
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
Due: iframe-plugin

feat(iframe-config): new config option `webViewProps`
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
Due: iframe-plugin

feat(table-plugin): new `displayMode` value, "embedded"
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/types.ts
Due: table-plugin

chore(example): rename autoscale to scalesPageToFit
  example/App.js
  example/YoutubeExample.js
Due: none

feat(table-plugin): add new `tableConfig` argument to extractHtmlTableProps
  packages/table-plugin/src/extractHtmlTableProps.ts
Due: table-plugin

refactor(table-plugin): rename HTMLIframeConfig to IframeConfig
  packages/iframe-plugin/etc/iframe-plugin.api.md
  packages/iframe-plugin/src/HTMLIframe.tsx
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
  packages/iframe-plugin/src/index.ts
Due: iframe-plugin

chore: release @native-html/iframe-plugin@1.1.0
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

chore: rename image to scalesPageToFit
  images/scalesPageToFit.png
  packages/iframe-plugin/CHANGELOG.md
Due: iframe-plugin

docs(table-plugin): upgrade docs
  packages/table-plugin/docs/table-plugin.extracthtmltableprops.md
  packages/table-plugin/docs/table-plugin.htmltable.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.webview.md
  packages/table-plugin/docs/table-plugin.htmltableprops.md
  packages/table-plugin/docs/table-plugin.md
  packages/table-plugin/docs/table-plugin.tableconfig.displaymode.md
  packages/table-plugin/docs/table-plugin.tableconfig.md
  packages/table-plugin/docs/table-plugin.tableconfig.webview.md
  packages/table-plugin/docs/table-plugin.tableconfig.webviewprops.md
  packages/table-plugin/etc/table-plugin.api.md
Due: table-plugin

chore: release @native-html/table-plugin@3.1.0
  packages/table-plugin/CHANGELOG.md
  packages/table-plugin/package.json
Due: table-plugin

fix(table-plugin): mark displayMode field as optional
  packages/table-plugin/docs/table-plugin.tableconfig.displaymode.md
  packages/table-plugin/docs/table-plugin.tableconfig.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/src/types.ts
Due: table-plugin

docs: sync example with API change
  packages/iframe-plugin/README.md
Due: iframe-plugin

chore(example): add description
  example/app.config.js
Due: none

fix(iframe-plugin): resolve TypeError when renderersProp is not defined
  packages/iframe-plugin/src/__tests__/iframe.test.tsx
  packages/iframe-plugin/src/extractHtmlIframeProps.ts
Due: iframe-plugin

chore: release @native-html/iframe-plugin@1.1.1
  packages/iframe-plugin/CHANGELOG.md
  packages/iframe-plugin/package.json
Due: iframe-plugin

build(deps): upgrade @formidable-webview/webshell to 2.2.0
  table-plugin/package.json
  yarn.lock
Due: none

chore: release @native-html/table-plugin@2.1.5
  table-plugin/package.json
Due: none

feat(table-plugin): support react-native-render-html 6.x
  packages/table-plugin/README.md
  packages/table-plugin/docs/table-plugin.extracthtmltableprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.md
  packages/table-plugin/docs/table-plugin.htmltablebaseprops.onlinkpress.md
  packages/table-plugin/docs/table-plugin.ignored_tags.md
  packages/table-plugin/docs/table-plugin.md
  packages/table-plugin/docs/table-plugin.table.md
  packages/table-plugin/docs/table-plugin.table_tags.md
  packages/table-plugin/docs/table-plugin.tablerenderer.md
  packages/table-plugin/docs/table-plugin.usehtmltableprops.md
  packages/table-plugin/etc/table-plugin.api.md
  packages/table-plugin/package.json
  packages/table-plugin/src/HTMLTable.tsx
  packages/table-plugin/src/TableRenderer.ts
  packages/table-plugin/src/extractHtmlAndStatsFromTableDomNode.ts
  packages/table-plugin/src/extractHtmlTableProps.ts
  packages/table-plugin/src/index.ts
  packages/table-plugin/src/table.ts
  packages/table-plugin/src/tags.ts
  packages/table-plugin/src/types.ts
  packages/table-plugin/src/useHtmlTableProps.ts
Due: table-plugin
